**Цель работы:**

Осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

# Загрузка набора данных

### Описание предметной области

Вариант №9

Набор данных: auto.csv

Атрибуты:
- имя
- год
- цена продажи
- пройдено км
- топливо
- тип продавца
- коробка передач
- тип владельца

### 1.Чтение файла (набора данных)

In [43]:
import pandas as pd

df = pd.read_csv('auto.csv')
df.shape

(4344, 8)

### 2. Обзор данных

2.1 Вывод первых 20 строк с помощью метода head.

In [44]:
df.head(20)

,Name,year,SellingPrice,kmdriven,fuel,seller_Type,transmission,owner
0,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petroll,2014,240000.0,60000.0,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000.0,25000.0,Petroll,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000.0,78000.0,CNG,Individual,Manual,First Owner
10,Chevrolet Sail 1.2 Base,2015,260000.0,35000.0,Petrol,Individual,Manual,First Owner
11,Tata Indigo Grand Petrol,2014,250000.0,100000.0,Petrol,Individual,Manual,First Owner
12,Toyota Corolla Altis 1.8 VL CVT,2018,1650000.0,25000.0,Petrol,Dealer,Automatic,First Owner
13,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
14,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
15,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
16,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
17,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
18,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner
19,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner

2.2 Оценка данных с помощью метода info.

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4344 non-null   object
 1   year          4344 non-null   int64
 2   SellingPrice  4342 non-null   float64
 3   kmdriven      4343 non-null   float64
 4   fuel          4343 non-null   object
 5   seller_Type   4344 non-null   object
 6   transmission  4344 non-null   object
 7   owner         4344 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.6+ KB

2.3 Оценка данных с помощью метода describe.

In [46]:
df.describe()

              year  SellingPrice       kmdriven
count  4344.000000  4.342000e+03    4343.000000
mean   2013.092311  5.039987e+05   66193.063320
std       4.214543  5.784465e+05   46636.648764
min    1992.000000  2.000000e+04       1.000000
25%    2011.000000  2.100000e+05   35000.000000
50%    2014.000000  3.500000e+05   60000.000000
75%    2016.000000  6.000000e+05   90000.000000
max    2020.000000  8.900000e+06  806599.000000


---
**Все столбцы с числовыми данными имеют корректный тип данных.
Средний год выставляемой на продажу машины - 2013, в основном 2009-2017.
Цена машин от 20_000 до 8_900_000 с большим разнообразием.
Пробег также отличается между машинами, но большая часть лотов с пробегом меньше 100к.**

---

 2.4 Оценка названий столбцов

In [47]:
df.columns.tolist()

['Name',
 'year',
 'SellingPrice',
 'kmdriven',
 'fuel',
 'seller_Type',
 'transmission',
 'owner']

In [48]:
# переименование при необходимости
df.columns = df.columns.str.lower()
df = df.rename(columns={
    'sellingprice': 'price',
    'kmdriven': 'km_driven', 
})

df.columns.tolist()

['name',
 'year',
 'price',
 'km_driven',
 'fuel',
 'seller_type',
 'transmission',
 'owner']

### 3. Проверка пропусков

In [49]:
print("Пропущено ДО")
missing_values = df.isnull().sum()
print(missing_values)

for name in ['price', 'km_driven']:
    df[name] = df[name].fillna(df[name].mean())

most_popular= df['fuel'].value_counts().idxmax()
df['fuel'] = df['fuel'].fillna(most_popular)

print("Пропущено ПОСЛЕ")
missing_values = df.isnull().sum()
print(missing_values)

Пропущено ДО
name            0
year            0
price           2
km_driven       1
fuel            1
seller_type     0
transmission    0
owner           0
dtype: int64
Пропущено ПОСЛЕ
name            0
year            0
price           0
km_driven       0
fuel            0
seller_type     0
transmission    0
owner           0
dtype: int64

---

**Пропущенные в числовых колонках значения заменены на среднее по столбцу. Малое количество таких строк позволяет выполнить данное действие без изменения общего результата.
Пропущенное значение типа топлива заменено на самое распространенное - diesel.**

 ---

### 4. Проверка дубликатов

#### Проверка явных дубликатов

In [50]:
duplicates = df.duplicated().sum()
print(f"Явных дубликатов {duplicates}")

df[df.duplicated()].head()

Явных дубликатов 763

,name,year,price,km_driven,fuel,seller_type,transmission,owner
13,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
14,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
15,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
16,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
17,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner

In [51]:
df_before = df.shape[0]
df = df.drop_duplicates()
df_after = df.shape[0]
print(f"Удалено {df_before - df_after}, осталось {df_after}")

Удалено 763, осталось 3581

#### Проверка неявных дубликатов

In [52]:
key_columns = ['year', 'price', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner']
implicit_duplicates = df.duplicated(subset=key_columns).sum()
print(f"Неявных дубликатов {implicit_duplicates}")

duplicate_mask = df.duplicated(subset=key_columns, keep=False)
display(df[duplicate_mask].sort_values(key_columns).head(20))

Неявных дубликатов 80

,name,year,price,km_driven,fuel,seller_type,transmission,owner
1446,Maruti 800 AC,2002,80000.0,70000.0,Petrol,Individual,Manual,Second Owner
2929,Hyundai Santro LP zipPlus,2002,80000.0,70000.0,Petrol,Individual,Manual,Second Owner
689,Skoda Octavia Classic 1.9 TDI MT,2004,120000.0,120000.0,Diesel,Individual,Manual,Second Owner
3959,Hyundai Accent CRDi,2004,120000.0,120000.0,Diesel,Individual,Manual,Second Owner
310,Maruti Wagon R LXI,2005,80000.0,40000.0,Petrol,Individual,Manual,Second Owner
1640,Maruti Wagon R VXI BSIII,2005,80000.0,40000.0,Petrol,Individual,Manual,Second Owner
392,Maruti Wagon R LXI Minor,2007,95000.0,80000.0,Petrol,Individual,Manual,First Owner
684,Maruti Zen Estilo 1.1 VXI BSIII,2007,95000.0,80000.0,Petrol,Individual,Manual,First Owner
359,Maruti SX4 Vxi BSIII,2007,100000.0,90000.0,Petrol,Individual,Manual,Second Owner
3653,Maruti Esteem Vxi,2007,100000.0,90000.0,Petrol,Individual,Manual,Second Owner
2206,Mahindra Bolero SLX 2WD,2007,300000.0,100000.0,Diesel,Individual,Manual,Second Owner
2911,Mahindra Bolero SLX,2007,300000.0,100000.0,Diesel,Individual,Manual,Second Owner
737,Maruti Alto LXi,2008,110000.0,90000.0,Petrol,Individual,Manual,Second Owner
1182,Maruti Alto LX BSIII,2008,110000.0,90000.0,Petrol,Individual,Manual,Second Owner
816,Chevrolet Spark 1.0,2008,120000.0,100000.0,Petrol,Individual,Manual,Third Owner
1338,Ford Fiesta 1.4 Duratec ZXI,2008,120000.0,100000.0,Petrol,Individual,Manual,Third Owner
872,Hyundai Santro Xing GLS,2009,140000.0,120000.0,Petrol,Individual,Manual,First Owner
3521,Maruti Zen Estilo LXI BS IV,2009,140000.0,120000.0,Petrol,Individual,Manual,First Owner
261,Honda Jazz S,2009,300000.0,50000.0,Petrol,Individual,Manual,First Owner
277,Hyundai i20 Asta (o),2009,300000.0,50000.0,Petrol,Individual,Manual,First Owner

In [53]:
def all_value_counts():
    for i in ["fuel", "seller_type", "transmission", "owner"]:
        print('\n')
        print(df[i].value_counts())

all_value_counts()

fuel
Diesel      1801
Petrol      1719
CNG           37
LPG           22
Petroll        1
Electric       1
Name: count, dtype: int64


seller_type
Individual          2836
Dealer               711
Trustmark Dealer      33
Dealeer                1
Name: count, dtype: int64


transmission
Manual       3269
Automatic     312
Name: count, dtype: int64


owner
First Owner             2220
Second Owner             980
Third Owner              289
Fourth & Above Owner      75
Test Drive Car            17
Name: count, dtype: int64

In [54]:
df['fuel'] = df['fuel'].replace('Petroll', 'Petrol')
df['seller_type'] = df['seller_type'].replace('Dealeer', 'Dealer')
df['seller_type'] = df['seller_type'].replace('Trustmark Dealer', 'Dealer')
all_value_counts()

df_before = df.shape[0]
# df = df.drop_duplicates(subset=key_columns)
df_after = df.shape[0]
print(f"Удалено {df_before - df_after}, осталось {df_after}")

fuel
Diesel      1801
Petrol      1720
CNG           37
LPG           22
Electric       1
Name: count, dtype: int64


seller_type
Individual    2836
Dealer         745
Name: count, dtype: int64


transmission
Manual       3269
Automatic     312
Name: count, dtype: int64


owner
First Owner             2220
Second Owner             980
Third Owner              289
Fourth & Above Owner      75
Test Drive Car            17
Name: count, dtype: int64
Удалено 0, осталось 3581

---

**Удалены все явные дубликаты.
Найдены и исправлены неявные дубликаты в текстовых столбцах.
Найдены строки, совпадающие по всем полям, кроме модели авто. Однако, данные строки оставлены в связи с частым значительным различием модели авто.**

 ---

### 5. Провека типов данных

In [55]:
df.dtypes

name             object
year              int64
price           float64
km_driven       float64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object

In [56]:
categorical_columns = ['fuel', 'seller_type', 'transmission', 'owner']
for col in categorical_columns:
    df[col] = df[col].astype('category')

df['km_driven'] = df['km_driven'].astype('int64')

df.dtypes

name              object
year               int64
price            float64
km_driven          int64
fuel            category
seller_type     category
transmission    category
owner           category
dtype: object

---

**Замечено, что пробег всех авто округлен до целых, поэтому тип столбца также сменен на целочисленный.
Четыре последних столбца изменены на тип "категория".
Остальные столбцы изменению не подлежат.**

 ---

### 6. Группировка данных

#### Задание 1

*`Группировка - тип коробки передач (transmission) по количеству
разных типов топлива (fuel) . Результат должен иметь примерно следующий вид`*

In [57]:
df_1 = df.groupby(['transmission','fuel']).size()
df_1.name = 'count'
df_1

C:\Users\max\AppData\Local\Temp\ipykernel_11412\4246951689.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_1 = df.groupby(['transmission','fuel']).size()

transmission  fuel
Automatic     CNG            0
              Diesel       170
              Electric       1
              LPG            0
              Petrol       141
Manual        CNG           37
              Diesel      1631
              Electric       0
              LPG           22
              Petrol      1579
Name: count, dtype: int64

Из результата группировки видна популярность определенных комбинаций transmission-fuel среди автовладельцев. Например, ручные коробки передач могут быть более распространены с определенными типами двигателей/топлива - среди машин нет ни одной машины на автомате с газовым двигателем.

#### Задание 2

*`Группировка - тип владельца (owner) по количеству разных коробок
передач (transmission). Создать датафрейм. Переименовать столбец с
количеством в “сountˮ. Отсортировать по убыванию столбца “countˮ.`*

In [58]:
df_2 = df.groupby(['owner','transmission'])['name'].count()
df_2.name = 'count'
df_2.sort_values(ascending=False).reset_index()

C:\Users\max\AppData\Local\Temp\ipykernel_11412\3879407770.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_2 = df.groupby(['owner','transmission'])['name'].count()

                  owner transmission  count
0           First Owner       Manual   1993
1          Second Owner       Manual    916
2           Third Owner       Manual    271
3           First Owner    Automatic    227
4  Fourth & Above Owner       Manual     73
5          Second Owner    Automatic     64
6           Third Owner    Automatic     18
7        Test Drive Car       Manual     16
8  Fourth & Above Owner    Automatic      2
9        Test Drive Car    Automatic      1

Из результата группировки видно распределение типов владельцев по разнообразию коробок передач в их автомобилях. Видно, что коробка автомат представлена в основном машинами после одного владельца, а четырех владельцев переживает минимальная доля, в то время как на рынке механики автомобили продаются и после четырех владельцев в значительной доле.

#### Задание 3

*`Сводная таблица (pivot_table) - средняя стоимость для каждого года
year. Отсортировать по убыванию. Округлить до трёх знаков`*

In [59]:
df.pivot_table(index='year', values='price', aggfunc='mean').round(3).sort_values(by='price', ascending=False)

           price
year
2019  865364.167
2018  820420.305
2020  804844.400
2017  740501.394
2016  638342.707
2014  512003.059
2015  511072.027
2013  433046.285
2012  379352.027
2011  296028.291
2010  276666.738
2009  235467.420
1996  225000.000
2008  177668.171
2007  165282.043
1998  165111.111
2006  154182.763
2004  126697.342
2005  114821.443
2001  109562.438
1995   95000.000
1997   93000.000
2003   87090.909
2002   86111.111
2000   81500.000
1999   73888.889
1992   50000.000

Из сводной таблицы видна зависимость средней цены продажи от года выпуска автомобиля. Более новые автомобили имеют более высокую среднюю стоимость, что является логичным, поскольку они меньше подвержены износу и обесцениванию.

#### Задание 4

*`Сводная таблица (pivot_table) - среднее цена для каждого типа
владельца - столбцы и типа продавца- строки. Отсортировать по возрастанию
seller_type. Округлить до двух знаков.`*

In [60]:
df.pivot_table(index='seller_type', columns='owner', values='price', aggfunc='mean', fill_value=0).round(2).sort_values(by='seller_type', ascending=True)

C:\Users\max\AppData\Local\Temp\ipykernel_11412\1250073420.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df.pivot_table(index='seller_type', columns='owner', values='price', aggfunc='mean', fill_value=0).round(2).sort_values(by='seller_type', ascending=True)

owner,First Owner,Fourth & Above Owner,Second Owner,Test Drive Car,Third Owner
seller_type,,,,,
Dealer,686750.37,117499.50,475129.94,954293.94,462333.22
Individual,518810.94,182958.88,326888.81,0.00,259836.07

Сводная таблица показывает среднюю цену автомобилей в зависимости от типа продавца и типа владельца. Это позволяет выявить закономерности в ценообразовании: автомобили от дилеров в среднем дороже, чем от частных лиц  (кроме продажи после 3 владельца). Также можно увидеть, что с ростом количества владельцев падает цена на авто. Интересно, что разница в падении цены между 2 и 3 владельцем заметно меньше у дилеров, чем у частных лиц.

### Вывод

В рамках данной лабораторной работы был проанализирован набор данных auto.csv, содержащий информацию о продаже подержанных автомобилей. Датасет включает 8 атрибутов: название автомобиля, год выпуска, цену продажи, пробег в километрах, тип топлива, тип продавца, тип коробки передач и категорию владельца.

Использовано множество методов предобработки, в том числе:
1. Загрузка и первичный анализ: Успешно загружен датасет, проведен анализ структуры данных с помощью методов head(), info() и describe().
2. Работа с названиями столбцов: Выявлены и исправлены проблемы с названиями (SellingPrice → selling_price, kmdriven → km_driven, seller_Type → seller_type).
3. Обработка пропущенных значений: Проведена проверка на наличие пропусков в данных.
4. Устранение дубликатов: Реализована проверка явных и неявных дубликатов, исправлены ошибки в данных (например, "Petroll" в "Petrol").
5. Приведение типов данных: Категориальные столбцы (fuel, seller_type, transmission, owner) преобразованы в соответствующий тип для оптимизации памяти.

Сделаны следующие выводы из группировок и сводных таблиц:
- Группировка по трансмиссии и топливу: Выявлены связи между типами коробок передач и используемыми видами топлива. Замечено, что среди авто на газу нет ни одной автоматической трансмиссии.
- Анализ владельцев и трансмиссий: Определено влияние трансмисси на количество перепродаж. Авто на ручной коробке меняют владельцев больше раз, чем на автомате.
- Динамика цен по годам: Подтверждена закономерность снижения стоимости с возрастом автомобиля, более новые модели имеют более высокую среднюю цену.
- Ценообразование по продавцам: Сводная таблица показала различия в ценах между дилерами и частными продавцами (авто от дилера, в среднем, дороже).

Проведенный анализ позволил выявить основные закономерности рынка подержанных автомобилей и продемонстрировал эффективность применения методов предварительной обработки данных для получения качественных аналитических выводов.

### Дополнительное задание

**`Подробная формулировка задания`**

In [61]:
# код выполнения задания

***`Подробный вывод по заданию, описание полученных результатов`***